# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# # Next.js
# .next/
# out/
# dist/

# Tailwind
.tailwind/

# Docker
docker-data/
*.pid



# Build / Output
build/
coverage/
*.log

# OS files
.DS_Store
Thumbs.db
