version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: api-weather-dev
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    environment:
      - OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1
    volumes:
      - ./backend/app:/app/app:delegated
    networks:
      - app-network

  frontend:
    build:
      context: ./frontend
    container_name: ui-weather-dev
    command: npm run dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:8000
    depends_on:
      - backend
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
